<html>
<head>
    <title>Dem Shoes</title>
</head>
<body>
    <h1>Dem Shoes Directory</h1>
    <h2>{{ brand.getBrandName }}</h2>
    <p>Add stores that sell: {{ brand.getBrandName }}</p>

        <ul>
            {% for store in new_connection %}
                <li><a href="/editstore/{{ store.getId }}">{{ store.getName }}</a></li>
            {% endfor %}
        </ul>

    <form action='/addstore' method='post'>
        <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getBrandId }}">
        <label for="store_id">Select Store: </label>
        <select id='store_id' name='store_id' type='text'>
            {% for store in all_stores %}
                <option value="{{ store.getId }}"> {{ store.getName }} </option>
            {% endfor %}
        </select>
        <button type='submit'>Add to brand</button>
    </form>

</body>
</html>
